@media screen and (max-width: 1400px) {
.columns {
flex-direction: column !important;
}

.column {
width: 100% !important;
}

.column:not(:first-child) {
margin-top: 20px !important;
}

.center-c{
margin-top: 50px;
display: flex;
flex-direction: column;
align-items: center;
}
p.big {
text-align: center;
}

.mobile{
height: 300px !important;
width: 300px !important;
}

.dots-1 svg,
.dots-2 svg,
.dots-3 svg,
.dots-4 svg
{
width: 15px !important;
}

.dots-1{
    left: 15px;
}

.dots-4{
    right: 25px;
}
}

/* Estilos para dispositivos de hasta 600px de ancho */
@media (max-width: 600px) {
    .field.is-grouped {
        flex-direction: column; /* Cambiar la dirección del flexbox a columna */
    }

    .field.is-grouped .control {
        width: 100%; /* Establecer el ancho al 100% para que ocupe todo el espacio disponible */
        margin-bottom: 10px; /* Agregar un margen inferior para separar los elementos */
    }

    .field.is-grouped .select {
        width: 100%; /* Establecer el ancho al 100% para que ocupe todo el espacio disponible */
    }

    .field.is-grouped .control .input {
        width: 100%; /* Establecer el ancho al 100% para que ocupe todo el espacio disponible */
    }
}

@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden !important;
  }

  .subtitle.is-2{
    font-size: 1.5rem;
    }

    .big{
        font-size: 2.5rem;
    }

    .mobile img{
        top: 8.5% !important;
    }

    .c-buttom{
        font-size: 1rem;
    }
}


@media (max-width: 1200px) {
      section#sobre-mi,
      section#proyectos,
      section#inicio {
        margin-top: 7.5% !important;
    }

    .has-text-centered.c-buttoms{
        display: flex;
    }

    .custom-button{
        font-size: 0.9rem;
        color: white;
        /* margin-left: 15px;
        margin-right: 0; */
    }
}

/* Estilos del footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer .content {
    margin-top: 20px;
}

.footer-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-social {
    list-style: none;
    padding: 0;
}

.footer-social li {
    display: inline;
    margin-right: 10px;
}

.footer-social-link {
    color: #fff;
    text-decoration: none;
}

.footer-social-link:hover {
    text-decoration: underline;
}

    @media screen and (max-width: 600px) {
        /* Clase personalizada para centrar las columnas de izquierda a derecha */
        .center-columns {
            display: flex;
            justify-content: center;
        }
    }