body {
  font-family: "Jersey 25", sans-serif;
  font-style: normal;
}

.navbar-item,
.navbarBasicExample{
    user-select: none;
}

a.navbar-item:hover{
    background-color: unset;
}

.navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover{
background-color: unset;
}

.custom-bg {
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    border-radius: 10px;
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    text-align: center; /* Centrar el texto horizontalmente */
    width: 50%;
}

h5.subtitle.is-5.has-text-white.custom-bg{
    font-weight: 100;
}

.section {
  margin-top: 150px; /* Puedes ajustar este valor según sea necesario */
  user-select: none;
}

.blue{
    background-color: #1e30f3;
    color: white;
}

.red{
    background-color: #e21e80;
}

.big {
  font-size: 5rem;
  line-height: 0.9;
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 80%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 95%;
}

.subtitle.is-2{
    line-height: 2;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.button {
  width: 45%;
  padding: 10px 0px;
  font-size: 1.9rem;
}

button:hover{
  cursor: pointer;
}
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    height: 100%; /* Para que ocupe toda la altura del contenedor */
}

.dots-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0px 10px -35px;
}

.dots-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0px 45px 10px;
}

.dots-3 {
    position: absolute;
    top: 45px;
    right: 0;
    margin: 0px 0px 45px 10px;
}

.dots-4 {
    position: absolute;
    top: 45px;
    right: 0;
    margin: 36px -45px 45px 0px;
}

.social-icons a i {
    font-size: 50px; /* Ajusta el tamaño de los iconos según tus preferencias */
    margin-right: 20px; /* Agrega separación entre los iconos */
    padding: 10px; /* Ajusta el espacio interior para que los iconos tengan un aspecto más grande */
    border-radius: 50%; /* Da a los iconos una forma circular */
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    background-clip: text; /* Para compatibilidad con otros navegadores */
    -webkit-text-fill-color: transparent;
}

h3.subtitle{
  font-weight: 100;
  letter-spacing: 1.2px;
}

.about-me h1 {
    font-size: 4em; /* Ajusta el tamaño del título según tus preferencias */
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    background-clip: text; /* Propiedad estándar */
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}

.card {
    font-size: 25px;
    font-weight: 100;
}

.pulse.icons-s {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.no-margin{
  margin-top: 10px;
}

.no-scroll {
    overflow-y: hidden;
}

.gradient-text {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Propiedad estándar para compatibilidad */
    color: transparent; /* Propiedad estándar para compatibilidad */
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 100;
}

#myModal1 .swiper-container {
    width: 100%; /* Establece el ancho al 100% */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

#myModal1 .swiper-wrapper {
    display: flex; /* Utiliza el modelo de caja flexible para los slides */
}

#myModal1 .swiper-slide {
    flex-shrink: 0; /* Evita que los slides se contraigan para ajustarse */
    width: 100%; /* Establece el ancho de cada slide al 100% */
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
}

.custom-button.is-primary {
    background-color: #1e30f3;
    color: #ffffff;
}

.custom-button.is-info {
    background-color: #e21e80;
    color: #ffffff;
}

.custom-button:hover {
    background-color: #4a9eff;
}

.contact-button {
    background-color: #e21e80;
}

.contact-button:hover {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
}
/* Estilos para el botón "Contáctame" */
.contact-button {
background-color: #e21e80;
}

.contact-button:hover {
background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
}

/* Estilos para el botón de enlace */
.link-button {
background-color: #1e30f3;
}

.link-button:hover {
background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
}

@media (min-width: 1400px) {
    .custom-bg{
        width: 42.5%;
    }
}

@media (min-width: 1600px ) {
    .custom-bg{
        width: 37.5%;
    }
}

/* Estilos para dispositivos de escritorio y laptops */
@media (min-width: 1024px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }

  .navbar{
    height: 6.5rem;
  }
  .navbar.is-fixed-top {
    top: 0;
    padding: 0 10% 0 10%;
}
}

/* Estilos para tablets y dispositivos móviles */
@media (max-width: 1023px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
}

